* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.phone_size {
  height: 600px;
  width: 1000px;
  margin: 100px auto 0;
}
body {
  text-align: center;
  background-color: #fff7ee;
}
table {
  /* border: 1px solid #575757; */
  margin: 50px auto;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 20px;
  border-spacing: 0px;
  border-collapse: collapse;
}
th,
td {
  padding: 20px;
  border-bottom: 1px solid #57575d;
}

td.sunday {
  color: red;
}
td.saturday {
  color: blue;
}

div.challenge_box {
  display: inline-block;

  width: 10px;
  height: 30px;
  /* background-color: #fdefc2; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  transform: translate(-2150%, 50%);
}

/*프로그래스바*/
progress {
  -webkit-appearance: none;
  width: 500px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  position: relative;
}

::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
}

::-webkit-progress-value {
  background-color: #fdefc2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
span {
  border: none;
  position: absolute;
  transform: translate(-300%, 130%);
  z-index: 15px;
}
span.count_badding {
  border: none;
  position: absolute;
  transform: translate(-200%, 130%);
}
span.count_dairy {
  border: none;
  position: absolute;
  transform: translate(-180%, 130%);
}
span.count_running {
  border: none;
  position: absolute;
  transform: translate(-240%, 130%);
}
button {
  background-color: #fff7ee;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-20%, 80%);
  border: none;
  border-radius: 50%;
  font-size: 28px;
}
button:hover {
  background-color: #e4dffd;
}
button.up,
button.down {
  position: absolute;
  transform: translate(1050%, -180%);
  font-size: 20px;
}
